{% extends 'base.html' %} #继承那个模板
{% load staticfiles %}
{% load mytag %}

{% block title %} 权限管理系统
{% endblock %}

{#{% block lastpage %} <a href={{ url }}>上一页</a> {% endblock %}#}

{% block left %}
    {% menu_html request %}
{% endblock %}


{% block content %}
    <div class="page-content">
        <div class="page-header">
            <h1>
                Tables
                <small>
                    <i class="icon-double-angle-right"></i>
                     <a href="/list_index/">索引列表</a>
                    <i class="icon-double-angle-right"></i>
                    {{ tablename }}
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>

                            <th>索引</th>
                            <th>类型</th>


                        </tr>
                        </thead>

                        <tbody>
                        {% for type in es_type %}
                            <tr>


                                <td>
                                    {{ es_index }}
                                </td>
                                <td>
                                    <a href="/list_field/{{ es_index }}/{{ type }}/">{{ type }}</a>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /span -->
        </div><!-- /row -->


    </div>




{% endblock %}

{% block username %} {{ request.session.username }}{% endblock %}

{% block head_menu_name %} 查询es索引类型 {% endblock %}