<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <title>{% block title %}{% endblock%}</title>
        <meta name="keywords" content="Bootstrap模版,Bootstrap模版下载,Bootstrap教程,Bootstrap中文" />
		<meta name="description" content="站长素材提供Bootstrap模版,Bootstrap教程,Bootstrap中文翻译等相关Bootstrap插件下载" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->

		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="{% static 'assets/css/font-awesome-ie7.min.css' %}" />
		<![endif]-->

		<!-- page specific plugin styles -->


		<!-- ace styles -->


		<script src="{% static 'assets/js/ace-extra.min.js' %}"></script>


	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							权限管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

			</div><!-- /.container -->
		</div>
        {% block container %} {% endblock %}


		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>




</body>
</html>

